<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="read-info">
          <div class="login-title">
            <h4 class="read-info-h4">请仔细阅读考试信息：</h4>
          </div>
          <div class="read-info-content">
            <p>1.请考生在规定时间内完成答题并提交<br>
  
              2.考试过程中遇到设备无法正常使用,请启事监考老师<br>
  
              3.任何考生不允许作弊，后果自负<br>
              4.本考试及格分为60分<br>
  
              5.任何考生不允许作弊，后果自负<br>
  
              6.任何考生不允许作弊，后果自负<br>
              任何考生不允许作弊，后果自负<br>
  
              7.任何考生不允许作弊，后果自负<br>
  
              8.任何考生不允许作弊，后果自负<br>
              本考试及格分为60分<br>
  
              9.任何考生不允许作弊，后果自负
               </p>
          </div>
          <button class="btn btn-default btn-circle" style="margin-left:115px;">开始考试</button>
      </div>

      </div>
      <div class="col-md-6">
        <div class="read-info-img">
          <img src="../images/30_副本.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>