<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="div-bg">
        <!--轮播开始-->
        <div class="loop-wrap">
          <div class="loop-images-container">
            <img src="../images/02.jpg" alt="" class="loop-image">
            <img src="../images/04_副本.jpg" alt="" class="loop-image">
            <img src="../images/02.jpg" alt="" class="loop-image">
          </div>
        </div>
        <!--轮播结束-->
        <!--面板1-->
        <div class="div-2">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="div-img-ra-left">
                  <img src="../images/03.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <p class="p-content-1">生活如酒，或芳香，或浓烈，因为诚实，它变得醇厚；生活如歌，或高昂，
                或低沉，因为守信，它变得悦耳； 生活如画，或明丽，或素雅，因为诚信，它变得美丽
                生活如酒，或芳香，或浓烈，因为诚实，它变得醇厚；生活如歌，或高昂，
                或低沉，因为守信，它变得悦耳； 生活如画，或明丽，或素雅，因为诚信，它变得美丽</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <p class="p-content-2">若能掬起一捧月光，我选择最柔和的；若能采来香山红叶，我选择最艳丽的
                ；若能摘下满天星辰，我选择最明亮的。也许你会说，我的选择不是最好，但我的选择，我相信。
                生活如酒，或芳香，或浓烈，因为诚实，它变得醇厚；生活如歌，或高昂，
                或低沉，因为守信，它变得悦耳； 生活如画，或明丽，或素雅，因为诚信，它变得美丽</p>
            </div>
            <div class="col-md-6">
              <div class="div-img-ra-right">
                <img src="../images/05.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="div-img-ra-left">
                <img src="../images/06.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <p class="p-content-1">人生弯弯曲曲水，世事重重叠叠山。热情去奔跑，去超越，然后才能拾掇失
                意后的坦然，挫折后的不屈，困苦艰难后的从容。
                生活如酒，或芳香，或浓烈，因为诚实，它变得醇厚；生活如歌，或高昂，
                或低沉，因为守信，它变得悦耳； 生活如画，或明丽，或素雅，因为诚信，它变得美丽</p>
            </div>
          </div>
        </div>
        <!--面板1结束-->
      </div>
    </div>
  </div>
</div>
