<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="bg-1">
        <!--login 轮播开始-->
        <div class="col-md-6">
            <div id="myCarousel" class="carousel slide samll">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>   
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../images/28_副本.jpg" alt="First slide">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                        <img src="../images/29_副本.jpg" alt="Second slide">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                        <img src="../images/27.jpg" alt="Third slide">
                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--login 轮播结束-->
        <!-- login 输入信息-->
          <div class="col-md-6">
            <div class="login">
              <form class="form-horizontal">
                <div class="login-title">
                  <i class="glyphicon glyphicon-tree-deciduous"></i>
                  <h4 class="login-title-h3">欢迎登录考试系统</h4>
                </div>
                <div style="padding-top:180px;padding-left:70px;">
                <div class="form-group">
                  <label for="firstname" class="col-md-2 control-label">学号：</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="firstname" placeholder="请输入学号" style="width: 280px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-md-2 control-label">姓名：</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="lastname" placeholder="请输入姓名" style="width: 280px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-md-2 control-label">科目：</label>
                  <div class="col-md-10">
                    <ui-select ng-model="list" style="width: 280px;" on-select="selectType($select.selected)">
                      <ui-select-match placeholder="请选择">{{$select.selected.subject}}</ui-select-match>
                      <ui-select-choices class="ui-select-choices" repeat="item in selectedSubjectList | filter: $select.search">
                        <div ng-bind-html="item.subject | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">请记住我
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary btn-circle" ng-click="gotoBeginTest()">登录</button>
                  </div>
                </div>
               </div>
              </form>
            </div>
          </div>
          <!--输入信息结束 -->
      </div>
      </div>
    </div>
  </div>
</div>