<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="table-border">
        <div class="table-body">
          <button id="add_task" class="btn btn-warning btn-circle" ng-click="addTask()">
            创建任务
            <i class="fa fa-plus"></i>
          </button>
          <table id="table_id_example" class="display">
              <thead>
                  <tr>
                      <th>学生</th>
                      <th>老师</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>学生1</td>
                      <td>学生2</td>
                  </tr>
                  <tr>
                      <td>Row 2 Data 1</td>
                      <td>Row 2 Data 2</td>
                  </tr>
              </tbody>
          </table>


        </div>

      </div>
    </div>
  </div>
</div>