<div class="container-fluid">
  <div class="row">
    <h2 class="h2">2018年精选作品</h2>
    <div class="div-show">
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="">
            <img src="../images/20.jpg" alt="" class="show-img">
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <img src="../images/13.jpg" alt="" class="show-img">
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <img src="../images/14.jpg" alt="" class="show-img">
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <img src="../images/15.jpg" alt="" class="show-img">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-3">
          <div>
            <img src="../images/16.jpg" alt="" class="show-img">
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <img src="../images/18.jpg" alt="" class="show-img">
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <img src="../images/17.jpg" alt="" class="show-img">
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <img src="../images/19.jpg" alt="" class="show-img">
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>